/target
.idea/
/node_modules
dependency-reduced-pom.xml
*.iml
.log
/src/main/resources/static/built
.classpath
.factorypath
.project
.settings/
application.yml
.DS_Store
/uploads/post_images
/uploads/user_profile