<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head lang="en">
  <meta charset="UTF-8"/>
  <title>Friends</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>

<h2>Friend Requests</h2>
<ul>
  <li th:each="requester : ${requesterUsers}"
      th:text="${requester.first_name + ' ' + requester.last_name}"></li>
</ul>

<h2>Your Friends</h2>
<ul>
  <li th:each="friend : ${friendUsers}"
      th:text="${friend.first_name + ' ' + friend.last_name}"></li>
</ul>

</body>
</html>