<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head lang="en">
  <meta charset="UTF-8"/>
  <title>Friends</title>
  <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/png" href="/favicon.png">
  <!--        links for bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">        <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!--        end links for bootstrap-->
</head>


<body>

    <!--    Navbar starts here  -->
    <div style="margin-top: 35px;text-align: center;" class="navbar navbar-inverse navbar-fixed-top container">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/posts">Acebook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
                    <span class="navbar-text">
                        <div sec:authorize="isAuthenticated()">
                            Hi! You're logged in as <span sec:authentication="principal.attributes['email']">.  |</span>
                        </div>
                    </span>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/profile">| My Profile |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/friends">| Friends |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/notifications">| Notifications |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">| Settings |</a>
            </li>
          </ul>
          <span class="nav-item active">
                        <form name="logoutForm" th:action="@{/logout}" method="post"> <button type="submit" value="Log out" class="btn btn--stripe" style="display: inline-block;">| Log Out |</button>
                        </form>
                    </span>
        </div>
      </nav>
    </div>
    <!--end of navbar -->

<h2>Friend Requests</h2>
<ul>
  <li th:each="requester : ${requesterUsers}">
      <span th:text="${requester.firstName + ' ' + requester.lastName}"></span>
      <form th:action="@{'/friendRequest/' + ${requester.id}}" method="POST">
      <button type="submit" name="decision" value="accept">Accept</button>
      <button type="submit" name="decision" value="decline">Decline</button>
      </form>
  </li>
</ul>

<h2>Your Friends</h2>
    <ul>
        <li th:each="friend : ${friendUsers}">
            <span th:text="${friend.firstName + ' ' + friend.lastName}"></span>
            <form th:action="@{'/remove_friend/' + ${friend.id}}" method="POST" style="display:inline;">
                <button type="submit">Remove Friend</button>
            </form>
        </li>
    </ul>
    <!--        scripts for bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <!--        end scripts for bootstrap  -->
</body>
</html>

