html, body {
    background-color: #fbf4e6 !important;
    padding-top: 35px;
}

.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

.navbar-text,
.nav-link {
    line-height: 1 !important;
    #655e4e!important;
}

.nav-link:hover {
    color: #cc3939!important;
}

.greeting {
    color: #655e4e!important;
}

.greeting:hover {
    color: #655e4e!important;
}


.navbar {
    background-color: #e6d7b7
}

.login-button{
        background-color: #e6d7b7!important;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;

}
.login-button:hover{
        background-color: #c7b57b!important;
        color: white!important;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        }
.login-button:active{
    background-color: #cc3939!important;
    color: white!important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;

}