html, body {
    background-color: #fbf4e6 !important;
}

h1 {
    color: #655e4e !important;
}

.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

.custom-image-1 {
    max-width: 500px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.custom-image-2 {
    max-width: 1000px;
    max-height: 800px;
    width: auto;
    height: auto;
}

.friend-tile {
        background-color: #f0f0f0;   /* Light gray background */
        border: 1px solid #ddd;      /* Light border around the tile */
        padding: 20px;                /* Padding inside the tile */
        border-radius: 8px;           /* Rounded corners */
        display: flex;                /* Use flexbox to align content */
        justify-content: center;      /* Center content horizontally */
        align-items: center;          /* Center content vertically */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        transition: transform 0.3s ease; /* Smooth hover effect */
    }

.navbar-text,
.nav-link {
    colour: #655e4e
}

.navbar .nav-link.active {
  color: #cc3939 !important;
}

.greeting {
    color: #655e4e!important;
}

.greeting:hover {
    color: #655e4e!important;
}

.navbar {
  height: 70px;
  background-color: #e6d7b7;
  position: relative;
  z-index: 1;
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #e6d7b7;
    z-index: 0;
  }
}

.navbar-brand img {
  display: block;
  height: 40px;
}

.navbar-dropdown {
  background-color: #fbf4e6 !important;
  color: #655e4e;
}

.navbar-dropdown .dropdown-item,
.navbar-dropdown .fw-bold,
.navbar-dropdown .text-truncate {
  background-color: #fbf4e6;
  color: #655e4e;
}

.navbar-dropdown .dropdown-item:hover {
  background-color: #fbf4e6;
  color: #000000;
}

/* Optional: Divider color */
.custom-dropdown .dropdown-divider {
  border-top-color: #555;
}


.login-button{
        background-color: #e6d7b7!important;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;

}
.login-button:hover{
        background-color: #c7b57b!important;
        color: white!important;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        }
.login-button:active{
    background-color: #cc3939!important;
    color: white!important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;

}