<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >


<head>
    <meta charset="UTF-8">
    <title>Acebook</title>

    <!--        links for bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">        <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--        end links for bootstrap-->
</head>

<body>

<!--    Navbar starts here  -->
<div style="margin-top: 35px;text-align: center;" class="navbar navbar-inverse navbar-fixed-top container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/posts">Acebook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
                <span class="navbar-text">
                    <div sec:authorize="isAuthenticated()">
                        Hi! You're logged in as <span sec:authentication="principal.attributes['email']">.  |</span>
                    </div>
                </span>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">| My Profile |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/friends">| Friends |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications">| Notifications |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">| Settings |</a>
                </li>
            </ul>
            <span class="nav-item active">
                    <form name="logoutForm" th:action="@{/logout}" method="post"> <button type="submit" value="Log out" class="btn btn--stripe" style="display: inline-block;">| Log Out |</button>
                    </form>
                </span>
        </div>
    </nav>
</div>
<!--end of navbar -->

<h2>Profile test</h2>
<h2 th:text="'First name: ' + ${user.firstName}"></h2>
<h2 th:text="'Surname: ' + ${user.lastName}"></h2>
<img th:src="@{${user.profilePic}}" alt="User Profile Image" style="width: 50px; height: 50px;"/>

<!--<h2 th:text="'${user.firstName}''s Friends"></h2>-->

<!--<form th:action="@{'/add_friend/' + ${user.id}}" method="POST" style="display:inline;">-->
<!--    <button type="submit">Add Friend</button>-->
<!--</form>-->

<form th:action="@{'/add_friend/' + ${user.id}}" method="POST" style="display:inline;">
    <button type="submit"
            th:disabled="${signedInUser.id == user.id}">
        Add Friend
    </button>
</form>

<ul>
    <li th:each="friend : ${friends}">
        <a th:href="@{/profile/{id}(id=${friend.id})}">
            <span th:text="${friend.firstName + ' ' + friend.lastName}"></span></a>
    </li>
</ul>

<div  class="d-grid gap-2 d-md-block">
    <div class="list-group list-group-flush" >
        <div th:each="post: ${posts}">
            <div class="box shadow-sm border rounded bg-white mb-3 post">
                <div class="p-3 d-flex align-items-center border-bottom">
                                <span>
                                    <img class="rounded-circle mb-2 mt-3" th:src="@{${post.user.profilePic}}" style="width: 40px; height: 40px; object-fit: cover;">
                                <strong th:text="${post.user.firstName + ' ' + post.user.lastName}"></strong> posted:
                                </span>
                    <span class="ms-auto small">Time Stamp?</span>
                </div>
                <div class="p-3 border-bottom">
                    <a><span th:text="${post.content}" /></a>
                    <img th:if="${post.image != null}"
                         th:src="@{${post.image}}"
                         alt="Post image"
                         style="width: 100px; height: auto;" />
                </div>
                <div class="p-3 d-flex align-items-center border-bottom">
                    <a href="#" class="me-3 text-secondary text-decoration-none"><i class="bi bi-heart-fill text-danger"></i> Like </a>
                    <a href="#" class="me-3 text-secondary text-decoration-none"><i class="bi-chat-left-fill"></i> Comment</a>
                    <a th:href="@{/posts/{id}(id=${post.id})}" class="text-secondary text-decoration-none ms-auto small"><i class="bi bi-eye-fill"></i>View Post</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--        script for bootstrap  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
